<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataAcessLayer.DAL" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DataAcessLayer.DAL>
            <setting name="connectionString" serializeAs="String">
                <value>Data Source=BARRETO-PC\SQLSERVER;Initial Catalog=eHC;Integrated Security=False;User Id=sa;Password=b3h0nd3r;MultipleActiveResultSets=true</value>
            </setting>
        </DataAcessLayer.DAL>
    </applicationSettings>
</configuration>